version: '{build}-{branch}'
os: Default Azure
image: Visual Studio 2017
platform:
  - x64
init:
  - ps: |
      mkdir C:\Users\appveyor\.vagrant.d | Out-Null
  - ps: |
      mkdir C:\downloads | Out-Null
      cd C:\downloads
      cd $env:APPVEYOR_BUILD_FOLDER
install:
  - set PATH=C:\Vagrant\HashiCorp\Vagrant\bin;C:\VBox;%PATH%
  - choco install virtualbox vagrant
  - vagrant -v
  - VBoxManage -v
  - ssh -V
  - ipconfig /all
build_script:
  - ps: Test-NetConnection google.com -Port 80
test: off
on_finish:
  - ps: $blockRdp = $true; iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))
